table.form {
	border-collapse:collapse;
}

table.form td {
	vertical-align:top;
	padding:3px 4px;
	margin-bottom: 1px;
}

td.label_column {
	width:25%;
	text-align:right;
}

td.input_column {
	width:50%;
}

td.error_column {
	width:24%;
}

tr.error {
	background-color:#fdd;
}

.error_message {
	color:#f33;
	font-size:90%;
}

table.form input[type=text],
table.form input[type=file],
table.form textarea {
	width:100%;
	border:1px solid #888;
}