* {
	margin:0;
	padding:0;
}

html,body {
	height:100%;
	width:100%;
	overflow:hidden;
}

body {
	font-family:Georgia;
}

table.layout {
	height:100%;
	width:100%;
	table-layout:static;
	border-collapse:collapse;
}

iframe {
	height:100%;
	width:100%;
}

.header {
	border-bottom:4px solid #444;
	background:#444 url('/static/icons/frame-tile.png');
}

.content {
	height:100%;
}

#top_bar {
	background-color:#222;
	opacity:0.8;
	color:#fff;
	padding:0 0.2em;
}

#top_bar ul {
	float:right;
	color:#ccc;
}

#top_bar * {
	display:inline;
}

#top_bar a,#top_bar a:visited {
	color:inherit;
	text-decoration:none;
}

#instructions {
	float:left;
	width:20%;
}

#instructions div {
	font-size:120%;
	text-align:center;
	background-color:#ccf;
	border:3px solid #88f;
    margin: 4px;
	padding:0.3em;
}

#main_content {
    width: 80%;
}

#main_content div {
	padding:0.3em;
}

form table {
	width:100%;
}

a img {
    border-width: 0;
}

ul.canned_searches {
    text-align: center;
}

ul.canned_searches li {
    list-style-type: none;
    display: inline;
    padding: 0 0.5em;
    margin: 0;
}

ul.canned_searches a {
    text-decoration: none;
    color: green;
}

ul.canned_searches a img {
    vertical-align: middle;
}
