* {
	margin:0;
	padding:0;
}

html,body {
	height:100%;
	width:100%;
	overflow:hidden;
}

body {
	font-family:Georgia;
}

table.layout {
	height:100%;
	width:100%;
	table-layout:static;
	border-collapse:collapse;
}

iframe {
	height:100%;
	width:100%;
}

.header {
	border-bottom:4px solid #444;
	background:#444 url('/static/icons/frame-tile.png');
}

.content {
	height:100%;
}

#top_bar {
	background-color:#222;
	opacity:0.8;
	color:#fff;
	padding:0 0.2em;
}

#top_bar ul {
	float:right;
	color:#ccc;
}

#top_bar * {
	display:inline;
}

#top_bar a,#top_bar a:visited {
	color:inherit;
	text-decoration:none;
}

#instructions {
	float:left;
	width:20%;
	font-size:120%;
	text-align:center;
	background-color:#ccf;
	border:3px solid #88f;
	margin:0.3em;
	padding:0.3em;
}

form table {
	border-collapse:collapse;
	width:79%;
}

form td {
	vertical-align:top;
	padding:3px 4px;
}

td.label_column {
	width:20%;
	text-align:right;
}

td.input_column {
	width:60%;
}

td.error_column {
	width:19%;
}

tr.error {
	background-color:#fdd;
}

.error_message {
	color:#f33;
	font-size:90%;
}

input[type=text],textarea {
	width:100%;
	border:1px solid #888;
}