* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia;
    width: 960px;
    margin: 0 auto;
    background: url('/static/chrome/main-background.jpg') repeat-x #060;
}

a img {
    border-width: 0;
}

li {
    list-style-type: none;
}

p {
    margin-bottom: 1em;
}

#topbar {
    text-align: center;
    background-color: #f88;
    padding: 0.5em;
    border: 1px solid #f00;
    border-top: none;

    -moz-border-radius-bottomleft : 10px;
    -moz-border-radius-bottomright: 10px;
}

#toptext {
    font-family: Helvetica;
    font-size: 90%;
    padding: 1px 0 0 0;
    color: #fff;
    text-align: right;
}

#toptext a {
    color: inherit;
}

#toptext li {
    display: inline;
    padding: 0 0.4em;
}


#header {
    margin-top: 20px;
    background: #3d2213 url('/static/parliament.jpg') top left;
    border-bottom: none;
    -moz-border-radius-topleft : 10px;
    -moz-border-radius-topright: 10px;
}

#header h1 {
    color: white;
    font-variant: small-caps;
    padding: 0.3em;
    opacity: 0.8;
}

#tabs {
    margin: 0 auto;
    text-align: center;
    padding: 0.2em 0;
    border-bottom: 1px solid #444;
}

#tabs li {
    display: inline;

    border: 1px solid #444;
    border-bottom: 1px solid #444;

    background-color: #bbb;
    opacity: 0.8;
    padding: inherit;
    margin: 0 0.2em;

    -moz-border-radius-topleft : 6px;
    -moz-border-radius-topright: 6px;

}

#tabs li.active {
    border: 1px solid #444;
    border-bottom: 1px solid white;
    background: white;
    opacity: 1;
}

#tabs li a {
    color: black;
    text-decoration: none;
    padding: 0.2em 1em;
}

#tabs li a:hover {
    color: blue;
}

#content_wrapper {
    background-color: #fff;
}

#content {
    margin: 0 auto;
    width: 720px;
    padding: 1em;
}

#footer {
    clear: both;
    border-top: 1px solid #888;
    min-height: 30px;
    padding: 0.5em;
    font-size: 80%;
    background-color: #ddd;
    text-align: center;
}

#footer li {
    display: inline;
    padding: 0 0.4em;
}

ul.search_results {
    border-top: 1px solid #ccc;
}

ul.search_results li {
    border-bottom: 1px solid #ccc;
}

ul.search_results li a {
    text-decoration: none;
    color: inherit;
    display: block;
    overflow: hidden;
    min-height: 45px;
    padding: 4px;
}

ul.search_results li a:hover {
    background-color: #DBF1F9;/* light blue */
}

ul.search_results li img {
    float: right;
    border: 1px solid #bbb;
}

ul.search_results .name {
    font-size: 130%;
}

ul.search_results .extra {
    padding-left: 2em;
    color: #666;
}

.callout {
    text-align: center;
    font-size: 130%;
    padding: 0.5em;
    background: url('/static/chrome/fff7ad-gradient.jpg') repeat-x #fff7ad;
    border: 1px solid #dcad82;
    margin-bottom: 0.5em;
}

.callout strong {
    font-size: 120%;
}

.callout form * {
    font-size: inherit;
}

.left_column {
    width: 349px;
    float: left;
    padding-right: 10px;
    border-right: 1px dotted #bbb;
}

.right_column {
    width: 350px;
    float: right;
    padding-left: 10px;
}

.centered {
    text-align: center;
}

.box {
    border: 1px solid #888;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.box h2 {
    text-align: center;
    background-color: #bbb;
    margin-bottom: 0.5em;
}

.hints {
    font-family: Helvetica;
    font-size: 80% !important;
    color: #444;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}


table.lined td, table.lined th {
    border-bottom: 1px solid #ccc;
    padding: 0 0.2em;
    text-align: left;
}

tr.odd {
    background-color: #eee;        
}

tr.even {
    background-color: inherit;
}


.error_message {
    color: red;
}

img.icon {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.item_details {
    margin-left: 1em;
}

.discreet {
    opacity: 0.5;
}    

.discreet:hover {
    opacity: 1;
}

ul.pager {
    text-align: center;
}

ul.pager li {
    display: inline;
    padding: 0 0.5em;
    border: 1px solid #888;
    background-color: #eee;
}

ul.pager a {
    text-decoration: none;
}    

ul.pager .current_page {
    font-weight: bold;
    background-color: #ccc;
}

ul.pager .clean {
    border: none;
    background-color: #fff;
}

ul.lined {
    border-top: 1px solid #ddd;
}

ul.lined li {
    border-bottom: 1px solid #ddd;
    padding: 2px 0;
}

li.link img.pageglimpse-small {
    float: left;
    margin-right: 4px;
}    

li.link h3 {
    display: inline;
}    

.pageglimpse-small {
    height: 108px;
    width:  150px;
    border: 1px solid #888;
}

.pageglimpse-medium {
    height: 202px;
    width:  280px;
    border: 1px solid #888;
}

