[%

    USE google = url('http://www.google.co.uk/search');

    query_base = "\"${candidate.name}\" ${candidate.party.name}";

    queries = [
        { "name and party"  => "$query_base",                 },        
        { "contact details" => "$query_base contact details", },

        { "current phone"   => candidate.phone,   },
        { "current address" => candidate.address, },
        { "current fax"     => candidate.fax,     },
        { "current email"   => candidate.email,   },
    ];

%]
[% instructions = BLOCK %]
    
    <strong>[% candidate.name | html %]</strong><br>

    <small>[% candidate.party.name | html %]</small><br>

    <small>[% candidate.seat_names.join(', ') | html %]</small>
    
    <br><br>
    
    We need their <strong>[% bad_detail.detail %]</strong>.
    
    <br><br>
    
    <a href="[% c.uri_for('bad_details', { skip_detail => bad_detail.id } ) %]">Skip to the next candidate</a>

[% END %]
[%-  WRAPPER 'chrome/edit-frame.html',
        debug        => 0,
        title        => 'Correct bad candidate details',
        instructions => instructions,
        iframe_src   => google( q => query_base ),
        javascript_libraries => [ 'jquery', 'bad_details.js' ],
%]
    [% form.render %]
        
    <ul class="canned_searches">
        [% FOREACH q IN queries %]
            [% q = q.pairs.0 %]
            [% NEXT UNLESS q.value %]
        <li><a href="javascript:open_in_iframe('[% google( q => "${q.value}" ) %]')">
            <img src="/static/icons/magnifier.png" alt="search">
            [% q.key || 'default' %]
        </a></li>
        [% END %]
    </ul>
      
[% END %]
