[%

    USE google = url('http://www.google.co.uk/search');

    query_base = "\"${candidate.name}\" ${candidate.party.name}";
    queries = [
        "",
        bad_detail.detail,
        "contact details",
    ];
%]
[% instructions = BLOCK %]

<strong>[% candidate.name | html %]</strong><br>
<small>[% candidate.party.name | html %]</small>

<br><br>

We need their <strong>[% bad_detail.detail %]</strong>.

<br><br>

<a href="[% c.uri_for('bad_details', { skip_detail => bad_detail.id } ) %]">Skip to the next one.</a>

[% END %]

[%-  WRAPPER
        'chrome/edit-frame.html',
        debug        => 0,
        title        => 'Correct bad candidate details',
        instructions => instructions,
        iframe_src   => google( q => query_base ),
        javascript_libraries => ['jquery'],
%]
    [% form.render %]
    
    
    <!--
    <ul class="canned_searches">
        [% FOREACH q IN queries %]
        <li><a target="iframe" href="[% google( q => "$query_base $q" ) %]">
            <img src="/static/icons/magnifier.png" alt="search">
            [% q || 'default' %]
        </a></li>
        [% END %]
    </ul>
    -->
    
      
[% END %]
