<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/all.css"        type="text/css">
        <link rel="stylesheet" href="/static/css/edit-frame.css" type="text/css">
    
        <title>[% title %]</title>
    </head>
    <body>
        <table class="layout">
            <tr>
                <td class="header">

                    <div id="top_bar">
                        <strong><a href="/">YourNextMP.com</a></strong>
                    </div>

                    <div id="instructions">
                        <div>
                            [% instructions %]
                        </div>
                    </div>

                    <div id="main_content">
                        <div>
                            [% content %]
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td class="content">
                    [% IF debug %]
                        <a href="[% iframe_src %]">[% iframe_src | html %]</a>
                        <hr />
                        <textarea style="width: 100%; height: 100%;">
[% content | html %]</textarea>
                    [% ELSE %]
                    <iframe src="[% iframe_src %]" frameborder="0"></iframe>
                    [% END %]
                </td>
            </tr>
        </table>
    </body>
</html>
