[%# hack to clear the floated candidate image %]
<div style="clear:both">&nbsp;</div>

</div>
</div>

<div id="footer">

    <a  rel="license"
        href="http://creativecommons.org/licenses/by-sa/2.0/uk/"
        style="float: right"
    ><img   title="Creative Commons License: Attribution, Share Alike"
            src="/static/by-sa-88x31.png"
    /></a>

    [% UNLESS no_links %]
    <ul>
        <li>
            <a  href="[% c.uri_for('/suggestions/add',{ referer => c.req.uri, type => 'suggestion'}) %]"
                title="Help us make this site better"
            >Suggest a feature</a>
            or
            <a  href="[% c.uri_for('/suggestions/add',{ referer => c.req.uri, type => 'correction'}) %]"
                title="Help us make this site better"
            >report an error</a>
        </li>
    </ul>
    [% END %]

    [% UNLESS no_links %]
        [% FOREACH format = available_output_formats %]
            [% IF loop.first %]
                <ul>
                <li>Alternative output formats:</li>
            [% END %]
            <li><a href="[% c.req.uri_with({ output => format }) %]">[% format %]</a></li>
            [% "</ul>" IF loop.last %]
        [% END %]
    [% END %]

    <ul>
        <li>&copy; 2010 YourNextMP.com</li>

        <li>
            [% USE mailto = url( 'mailto:hello@yournextmp.com',
                body => "concerning '${c.req.uri.as_string}'\n\n",
             ) %]
            <a href="[% mailto %]" title="Send us an email">hello@yournextmp.com</a>
        </li>

        [% UNLESS no_links %]
        <li>
            <a  href="http://blog.yournextmp.com/"
                title="Discussion about this site, the election and democracy in general"
            >Blog</a>
        </li>
        <li>
            <a  href="/info/thanks"
                title="people who helped make this site possible"
            >Thanks</a>
        </li>
        [% END %]


    </ul>    

    [% IF cache_info.hits %]
    <ul>
        <li>
            <img class="icon" src="/static/icons/time.png">
            Some content was cached - <a href="/auth/login">log in</a> to disable.
        </li>        
    </ul>
    [% END %]
</div>

[% PROCESS 'stubs/google_analytics.html' %]


    </body>
</html>
