<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
    <head>
        <title>[% "$title :: " IF title %]YourNextMP</title>
        <link rel="stylesheet" type="text/css" href="/static/css/all.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

        [% PROCESS 'stubs/javascript.html' %]
    </head>
    <body>

[% IF c.config.show_dev_warning %]
<div id="topbar">
    Warning - this is the development and testing site. Please go to <a href="http://www.YourNextMP.com">http://www.YourNextMP.com</a> for the real site.
</div>
[% END %]

<div id="toptext">
    [% IF no_links %]
        <ul><li>&nbsp;</li></ul>
    [% ELSE %]
        <ul>
        [% IF c.user %]
            <li><a href="/users/[% c.user.id %]">[% c.user.name || c.user.email || 'Anonymous User' %]</a></li>
            <li><a href="/auth/logout">Log Out</a></li>
        [% ELSE %]
            <li><a href="/auth/login">Sign In</a></li>
        [% END %]
        </ul>
    [% END %]
</div>

<div id="header">
    <h1>YourNext<strong>MP</strong></h1>
    [% PROCESS 'chrome/tabs.html', no_links => no_links %]
</div>

<div id="content_wrapper">
<div id="content">
    
[% IF c.flash.message %]
    <div class="callout">[% c.flash.message | html %]</div>
[% END %]
    