<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
    <head>
        <title>[% "$title :: " IF title %]YourNextMP</title>
        <link rel="stylesheet" type="text/css" href="/static/css/all.css?[%  c.deployment_number %]">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css?[% c.deployment_number %]">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

        [% PROCESS 'stubs/javascript.html' %]
    </head>
    <body>

[% PROCESS 'stubs/dev_bar.html' IF c.config.show_dev_warning %]

<div id="toptext">
    [% IF no_links %]
        <ul><li>&nbsp;</li></ul>
    [% ELSE %]
        <ul>
        [% IF c.user_is_admin %]
            [% IF result %]
                <li><a href="/admin/editany/[% result.resultset_class.match('([^:]+)$').0 %]/[% result.id %]">Edit</a></li>
            [% END %]
            <li><a href="/admin">Admin</a></li>
        [% END %]

        [% IF c.user %]
            <li><a href="/users/[% c.user.id %]">[% c.user.name || c.user.email || 'Anonymous User' %]</a></li>
            <li><a href="/auth/logout">Log Out</a></li>
        [% ELSE %]
            <li><a href="/auth/login">Sign In</a></li>
        [% END %]

        <li>
            <form id="search_everything_form" method="get" action="/search">
                <input class="autowipe" type="text" name="query" alt="search...">
            </form>
        </li>

        </ul>
    [% END %]
</div>

<div id="header">

    <h1><a href="/">YourNext<strong>MP</strong></a></h1>
    
    [% INCLUDE 'chrome/tabs.html', no_links => no_links %]
</div>

<div id="content_wrapper">
<div id="content">
    
[% IF c.flash.message %]
    <div class="callout">[% c.flash.message | html %]</div>
[% END %]
    