[%
  menu_items = [
    { url => '/',               name => 'Home' },
    { url => '/results',        name => 'Results' },
    { url => '/candidates',     name => 'Candidates' },
    { url => '/seats',          name => 'Seats' },
    { url => '/parties',        name => 'Parties' },
  ];

  path_root = c.req.uri.path.match('/[^/]*', 1).0;

%]

<ul id="tabs">
    [% IF no_links %]
        <li style="visibility: hidden;">&nbsp;</li>
    [% ELSE %]
        [% FOREACH item IN menu_items %]
            <li[% ' class="active"' IF item.url == path_root %]><a href="[% item.url %]">[% item.name %]</a></li>
        [% END %]
    [% END %]
</ul>
