[% seats = results %]
[% INCLUDE 'chrome/header.html', title => 'Seats' %]

[% PROCESS 'stubs/big_search_box.html',
    title         => 'Constituencies:',
    default_value => 'name or full postcode',
    view_all_text => 'View all constituencies',
%]

    [% IF query %]

        [% count = seats.count %]
        [% IF count %]
    
            [% WRAPPER 'stubs/search_results.html',
                title => "Found $count matches:"
            %]
        
            [% WHILE (seat = seats.next ) %]
                
                [% extra = BLOCK %]

                    [% candidates = seat.standing_candidates_rs %]
                    [% candidates.count || 'no' %] candidates:

                    [%  FOREACH candidate IN candidates.all %]
                        [% candidate.name %] - [% candidate.party.name -%]
                        [%- ',' UNLESS loop.last %]
                    [% END %]

                [% END %]
                
                [% query_regex = query.replace( '\s+', '|' ) %]
                [% PROCESS 'stubs/search_result.html',
                    name  => seat.name.replace( "(?i)($query_regex)", "<b>\$1</b>"),
                    href  => c.uri_for( seat.code ),
                    extra => extra,
                %]        
            [% END %]
            [% END %]
                
        [% ELSE %]
        
            <p>Nothing matched your search for '[% query | html %]'.</p>
        
        [% END %]


    [% ELSE %]

        <p>Please search for a seat or <a href="[% c.uri_for( 'all', 1 ) %]">view them all</a>.</p>

    [% END %]

[% INCLUDE 'chrome/footer.html' %]
