[% seat = result %]
[% INCLUDE 'chrome/header.html', title => seat.name %]

    <h1>[% seat.name %]</h1>
    
    [% count = candidates.count %]
    [% IF count %]


        [% WRAPPER 'stubs/search_results.html',
            title => "Candidates:"
        %]
    
        [% WHILE (candidate = candidates.next ) %]
        
            [% extra = BLOCK %]
                [% IF seat.votes_recorded %]
                    Votes: [% candidate.votes %] - 
                [% END %]
                [% candidate.party.name %]
            [% END %]

            [% PROCESS 'stubs/search_result.html',
                name  => candidate.name,
                show_missing_person_image => 1,
                image_id => candidate.image_id,
                href  => c.uri_for( '/candidates', candidate.code ),
            %]        
        [% END %]
        [% END %]
        
    [% ELSE %]
    
        <p>There are no candidates yet</p>
    
    [% END %]
    <br>

    [% IF c.user_is_admin %]
        <p>Are we missing a candidate? Please <a href="[% c.uri_for('/','candidates','add', { seats => seat.id }) %]">add them</a>.</p>
    [% END %]


<h2>Leaflets:</h2>

<p>View political leaflets <a href="http://www.thestraightchoice.org/leaflets.php?n=[% result.code %]">delivered in [% result.name | html %]</a> on TheStraightChoice.org.</p>



[% PROCESS 'links/main_listing.html' %]

[% INCLUDE 'chrome/footer.html' %]
