[% seat = result %]
[% PROCESS 'chrome/header.html', title => seat.name %]

    <div id="sidebar">
    [% PROCESS 'stubs/link_list.html', links => seat.links %]
    </div>

    <h1>[% seat.name %]</h1>

    [% candidates = seat.candidates_rs %]
    [% count = candidates.count %]
    [% IF count %]

        [% WRAPPER 'stubs/search_results.html',
            title => "Found $count candidates:"
        %]
    
        [% WHILE (candidate = candidates.next ) %]

            [% PROCESS 'stubs/search_result.html',
                name  => candidate.name,
                image_id => candidate.image_id,
                href  => c.uri_for( '/candidates', candidate.code ),
                extra => candidate.party.name,
            %]        
        [% END %]
        [% END %]
        
    [% ELSE %]
    
        <p>There are no candidates yet</p>
    
    [% END %]

<p>Are we missing a candidate? Please <a href="[% c.uri_for('/','candidates','add', { seats => seat.id }) %]">add them</a>.</p>

[% PROCESS 'chrome/footer.html' %]
