[% party = result %]
[% INCLUDE 'chrome/header.html', title => "${party.name} Candidates" %]

<h1>[% party.name %] Candidates</h1>

[% count = results.count %]
[% IF count %]

    [% pager_text = PROCESS 'stubs/pager.html',
        uri_for_base = "/parties/${party.code}/candidates"
    %]
    [% pager_text %]
    
    [% WRAPPER 'stubs/search_results.html',
        title => "Showing ${pager.first} to ${pager.last} of ${pager.total_entries} candidates"
    %]
    
        [% WHILE (candidate = results.next ) %]
        
            [% extra = BLOCK %]
                [% candidate.party.name %]
                [%  FOREACH seat = candidate.seats %]
                    [% ' - ' IF loop.first %]
                    [% seat.name %]
                    [% ',' UNLESS loop.last %]
                [% END %]
            [% END %]
        
            [% PROCESS 'stubs/search_result.html',
                name    => candidate.name,
                show_missing_person_image => 1,                    
                image_id => candidate.image_id,
                href     => c.uri_for( '/candidates', candidate.code ),
                extra    => extra,
            %]        
        [% END %]
    [% END %]
    
    [% pager_text %]
    
    [% ELSE %]
    
        <p>There are no candidates for this party</p>
    
    [% END %]

[% INCLUDE 'chrome/footer.html' %]

