[% parties = results %]
[% PROCESS 'chrome/header.html', title => 'Parties' %]

[% PROCESS 'stubs/big_search_box.html',
    title         => 'Political Parties:',
    default_value => 'party name',
    view_all_text => 'View all parties',
%]

    [% IF query %]

        [% count = parties.count %]
        [% IF count %]
    
            [% WRAPPER 'stubs/search_results.html',
                title => "Found $count matches:"
            %]

            [% WHILE (party = parties.next ) %]
                [% query_regex = query.replace( '\s+', '|' ) %]
                [% PROCESS 'stubs/search_result.html',
                    name  => party.name.replace( "(?i)($query_regex)", "<b>\$1</b>"),
                    image_id => party.image_id,
                    href  => c.uri_for( party.code ),
                    extra => (party.candidates_rs.count || 'no') _ " candidates",
                %]        
            [% END %]
            [% END %]
        
        [% ELSE %]
        
            <p>Nothing matched your search for '[% query | html %]'.</p>
        
        [% END %]


    [% ELSE %]

        <p>Please search for a party or <a href="[% c.uri_for('all') %]">view them all</a>.</p>

    [% END %]

[% PROCESS 'chrome/footer.html' %]
