[% party = result %]
[% INCLUDE 'chrome/header.html', title => party.name %]

[% IF party.image_id %]
    <img style="float: right" src="[% c.uri_for_image( party.image_id, 'large' ) %]" />
[% END %]

<h1>[% party.name %]</h1>

[%
    party_details = [
        {
            src     => '/static/icons/group.png',
            alt     => 'candidates',
            href    => c.uri_for( party.code, 'candidates', 1 ),
            content => "View ${candidates.count} candidates",
        },
    ];
    
    IF c.user_is_admin;
        party_details.push(
            {
                class    => 'discreet',
                src      => '/static/icons/cog.png',
                alt      => 'admin',
                contents => [
                    {
                        href => c.uri_for( result.path, 'edit_photo' ),
                        content => 'edit photo',
                    },
                ]
            }
        );
    END;

    PROCESS 'stubs/item_details.html', details => party_details;
%]


<br />


[% PROCESS 'links/main_listing.html' %]
    

[% INCLUDE 'chrome/footer.html' %]
