[% party = result %]
[% INCLUDE 'chrome/header.html', title => party.name %]

[% IF party.image_id %]
    <img style="float: right" src="[% c.uri_for_image( party.image_id, 'large' ) %]" />
[% END %]

<h1>[% party.name %]</h1>

[%
    party_details = [
        {
            src     => '/static/icons/group.png',
            alt     => 'candidates',
            href    => c.uri_for( party.code, 'candidates', 1 ),
            content => "View ${candidates.count} candidates",
        },
    ];
    
    IF c.user_is_admin;
        party_details.push(
            {
                class    => 'discreet',
                src      => '/static/icons/cog.png',
                alt      => 'admin',
                contents => [
                    {
                        href => c.uri_for( result.path, 'edit_photo' ),
                        content => 'edit photo',
                    },
                ]
            }
        );
    END;

    PROCESS 'stubs/item_details.html', details => party_details;
%]


<br />

[% IF result.code == 'peoples_administration' %]

<h2>Where are the candidates?</h2>

<p>The People's Administration is different to most parties as they are not fielding candidates. Learn more about them on <a href/"http://www.urbansunrise.co.uk/pa/">their website</a> and find out <a href="http://www.urbansunrise.co.uk/pa/votePA.htm">how to vote for them</a>.</p>

[% END %]



[% PROCESS 'links/main_listing.html' %]
    

[% INCLUDE 'chrome/footer.html' %]
