<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

[% link = result %]

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/all.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="/static/css/edit-frame.css" type="text/css" charset="utf-8">
    
        <title>
            Edit Link
        </title>
    </head>
    <body>
        <table class="layout">
            <tr>
                <td class="header">

                    <div id="top_bar">
                        <strong><a href="/">YourNextMP.com</a></strong>
                        <!-- <ul>
                            <li><a href="/">Home</a></li>
                        </ul> -->
                    </div>

                    <div id="instructions">
                        Please complete the details for this link - it will load
                        below to help you.
                    </div>

                    [% form.render %]

                </td>
            </tr>
            <tr>
                <td class="content">
                    <iframe src="[% link.url %]" frameborder="0"></iframe>
                </td>
            </tr>
        </table>
    </body>
</html>
