<h2>[% links_title || 'Links' %]:</h2>

<ul>
    [% FOREACH link IN result.links %]
        <li class="link">
            <nobr>
                [% IF c.user_is_admin %]
                <a href="[% c.uri_for( '/links', link.id, 'edit' ) %]" title="Edit this link"><img class="icon discreet" src="/static/icons/pencil.png" alt="edit"></img></a>
                [% END %]
            <a href="[% link.url %]" title="[% link.url %]">[% link.title %]</a>
            </nobr>
        </li>
    [% END %]

</ul>

<p style="clear: left">
    Missing a link?
    [% IF c.user_is_admin %]
    <a href="[% c.uri_for( result.path, 'add_link' ) %]">Add a link</a>
    [% ELSE %]
    <a class="add_suggestion" href="[% c.uri_for('/suggestions/add',{ referer => c.req.uri, type => 'suggestion'}) %]">Suggest a link to add.</a>
    [% END %]
</p>
