<h2>Links:</h2>

<ul class="lined">
    [% FOREACH link IN result.links %]
        <li class="link">
            <a href="[% link.url %]" title="[% link.url %]"><img class="pageglimpse-small" src="http://images.pageglimpse.com/v1/thumbnails?url=[% link.url | url %]&amp;size=small&amp;root=no&amp;devkey=26ad767be62243346e33d6115c32f6be" alt="screenshot"></a>
            <h3>
                <a href="[% link.url %]" title="[% link.url %]">[% link.title %]</a>
            </h3>
            [% "(${link.published.dmy('/')})" IF link.published %]
            <a href="[% c.uri_for( '/links', link.id, 'edit' ) %]" title="Edit this link"><img class="icon discreet" src="/static/icons/pencil.png" alt="edit"></img></a>
            <br />
            [% link.summary.length <= 280
                ? link.summary
                : link.summary.substr(0, 280).replace('\s+\S+$', '') _ ' ...' 
                %]
            <br clear="both" />
        </li>
    [% END %]
</ul>
