[% link = result %]
[% INCLUDE 'chrome/header.html', title => 'Link' %]

<h1>[% link.title %]</h1>

[% PROCESS 'stubs/item_details.html', 
    details => [
        {
            src     => '/static/icons/calendar.png',
            alt     => 'published',
            content => link.published.dmy('/'),
            only_show_if_content => 1,
        },
        {
            src     => '/static/icons/world.png',
            alt     => 'url',
            content => link.abbreviated_url(40),
            href    => link.url,
        },
        {
            src     => "/static/icons/${link.type_icon}.png",
            alt     => 'type',
            content => link.type_verbose,
        },
        {
            class   => 'discreet',
            src     => '/static/icons/pencil.png',
            alt     => 'edit',
            href    => c.uri_for( link.id, 'edit' ),
            content => 'Add to or edit these details',
        },
    ];
%]
<br />

<h2>Summary</h2>

<p>[% link.summary | html %]</p>


<h2>Linked to</h2>

[%

    linked_to = [];
    
    FOREACH item = link.candidates;
        linked_to.push(
            {
                src     => '/static/icons/user_gray.png',
                alt     => 'candidate',
                href    => c.uri_for( item.path ),
                content => item.name,
            }
        );
    END;
    
    FOREACH item = link.parties;
    linked_to.push(
        {
            src     => '/static/icons/rosette-grey.png',
            alt     => 'party',
            href    => c.uri_for( item.path ),
            content => item.name,
        }
    );
    END;
    
    FOREACH item = link.seats;
    linked_to.push(
        {
            src     => '/static/icons/group.png',
            alt     => 'constituency',
            href    => c.uri_for( item.path ),
            content => item.name,
        }
    );
    END;
    

%]

[% PROCESS 'stubs/item_details.html', details => linked_to %]
<br />






[% INCLUDE 'chrome/footer.html' %]
