[% parties = results %]
[% INCLUDE 'chrome/header.html', title => 'Parties' %]

[% PROCESS 'stubs/big_search_box.html',
    title         => 'Search candidates, parties and constituencies:',
    form_action   => c.uri_for(''),
    default_value => '',
    view_all_text => '',
%]


<h2>Candidates:</h2>

[% PROCESS compact_results,
    results => candidates,
    more_url => c.uri_for('/seats/search', { query => query }),
    show_missing_person_image => 1,
%]

<h2>Seats:</h2>

[% PROCESS compact_results,
    results => seats,
    more_url => c.uri_for('/seats/search', { query => query }),
    show_missing_person_image => 0,    
%]

<h2>Parties:</h2>

[% PROCESS compact_results,
    results => parties,
    more_url => c.uri_for('/seats/search', { query => query }),
    show_missing_person_image => 0,
%]


[% BLOCK compact_results %]

    [% IF results.count %]

        <ul class="search_results">
        [% WHILE (r = results.next) %]
            [% PROCESS 'stubs/search_result.html',
                name     => r.name,
                href     => c.uri_for( r.path ),
                image_id => r.image_id
            %]        
        [% END %]
        </ul>

        <p><a href="[% more_url %]">more results</a></p>

    [% ELSE %]
    
        <p>No matches</p>
    
    [% END %]

    <br><br>

[% END %]

[% INCLUDE 'chrome/footer.html' %]
