[% INCLUDE 'chrome/header.html', title => 'Boundary Changes' %]

<h1>Boundary Changes</h1>

<p>Boundaries get changed between elections to ensure that the constituents are properly represented.</p>

<p>Check your postcode <a href="http://www.election-maps.co.uk/searchByPostCode.jsf">on the Ordnance Survey</a> site (look for the 'Proposed Westminster Constituency ' result).</p>

<p>Learn more at this <a href="http://en.wikipedia.org/wiki/Boundary_changes_for_the_United_Kingdom_general_election,_2010">Wikipedia page</a>.</p>

[% INCLUDE 'chrome/footer.html' %]


