[% INCLUDE 'chrome/header.html', title => '' %]

<div class="callout">

    <h1>Who wants your vote?</h1>
    <br>

    <form action="/seats/search" method="get">
        <input type="text" name="query" value="" alt="postcode or constituency" class="autowipe" />
        <input type="submit" value="search" />
        <p class="hints">
            eg. '<a href="/seats/search?query=sw1a+1aa">SW1A 1AA</a>'
            or  '<a href="/seats/search?query=luton">Luton</a>'
        </p>
    </form>

    Watching 
    <strong>[% counts.candidates %]</strong> candidates from 
    <strong>[% counts.parties %]</strong> parties standing for 
    <strong>[% counts.seats %]</strong> seats.

    <br>

    <small>
        (But we know about [% counts.all_parties %] parties
        and [% counts.all_seats %] constituencies)
    </small>

</div>

<div class="left_column">

    <h2>Parties</h2>

    <table class="lined">
        <tr>
            <th>Name</td>
            <th><img class="icon" src="/static/icons/group.png" alt="#" title="number of candidates"></td>
        </tr>

    [% number_to_show = 15 %]
    [% FOREACH party = top_parties %]        

        <tr class="[% loop.count % 2 ? 'odd' : 'even' %]">
        [% IF loop.index > number_to_show %]
            <td colspan=2 style="text-align: right">
                ...and <a href="/parties">[% top_parties.size - number_to_show %] other smaller parties</a>
            </td>
        [% ELSE %]
            <td><a href="[% c.uri_for('/parties', party.code) %]">[% party.name %]</a></td>
            <td>[% party.candidate_count %]</td>
        [% END %]
        </tr>

        [% LAST IF loop.index > number_to_show %]

    [% END %]

    </table> 

</div>

<div class="right_column">

    <h2>About us</h2>

    <p>
        This is a place where you can <strong>learn more</strong> about your
        candidates and <strong>share</strong> information with other
        voters.
    </p>
    
    <p>
        We have <strong>no political bias</strong> or affiliation - we just
        want you to be <strong>informed</strong> when you go to vote.
    </p>
    
    
</div>


[% INCLUDE 'chrome/footer.html' %]
