[% PROCESS 'chrome/header.html', title => '' %]

<div class="callout">

    <h1>Who wants your vote?</h1>
    <br>

    <form action="/seats/search" method="get">
        <input type="text" name="query" value="postcode or constituency" />
        <input type="submit" value="search" />
        <p class="hints">eg. '<a href="/seats/search?query=sw1a+1aa">SW1A 1AA</a>' or '<a href="/seats/search?query=luton">Luton</a>'</p>
    </form>

    Watching 
    <strong>[% candidates.count %]</strong> candidates from 
    <strong>[% parties.count %]</strong> parties standing for 
    <strong>[% seats.count %]</strong> seats.
</div>

<div class="left_column">

    <h2>Parties</h2>

    <table class="lined">
        <tr>
            <th>Name</td>
            <th>#</td>
        </tr>

    [% FOREACH party = top_parties %]        

        <tr class="[% loop.count % 2 ? 'odd' : 'even' %]">
            <td><a href="[% c.uri_for('/parties', party.code) %]">[% party.name %]</a></td>
            <td>[% party.candidate_count %]</td>
        </tr>
    [% END %]
    </table> 
    
    <p style="text-align:right"><a href="/parties/all/1">All parties...</a></p>       

</div>

<div class="right_column">

    <h2>About us</h2>

    <p>
        This is a place where you can <strong>learn more</strong> about your
        candidates and <strong>share</strong> information with other
        voters.
    </p>
    
    <p>
        We have <strong>no political bias</strong> or affiliation - we just
        want you to be <strong>informed</strong> when you go to vote.
    </p>
    
    
</div>


[% PROCESS 'chrome/footer.html' %]
