<div id="topbar">
    Warning - this is the development and testing site. Please go to <a href="http://www.YourNextMP.com">http://www.YourNextMP.com</a> for the real site.
</div>

<style type="text/css" media="screen">

    /* http://kuler.adobe.com/#themeID/814262 */

    #color_swatch {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #fff;
    }
    
    #color_swatch li {
        height: 32px;
        width: 32px;
        margin: 1px;
    }
</style>

<ul id="color_swatch">
    <li style="background-color: #778c49">&nbsp;</li>
    <li style="background-color: #d9d3b8">&nbsp;</li>
    <li style="background-color: #ffffff">&nbsp;</li>
    <li style="background-color: #d9a362">&nbsp;</li>
    <li style="background-color: #a65737">&nbsp;</li>
    <li style="background-color: #733e32">&nbsp;</li>
</ul>
