<ul class="item_details">

    [% FOREACH item IN details %]

        [% NEXT IF item.only_show_if_content && !item.content %]

    <li class="[% item.class %] [% 'discreet' IF ! item.content %]">
        <img class="icon" src="[% item.src %]" alt="[% item.alt %]" title="[% item.alt %]" />

        [% IF item.contents %]
            [% FOREACH h IN item.contents -%]
                [%- "<a href=\"${h.href}\">" IF h.href -%]
                    [%- h.content || 'missing' _ item.alt | html -%]
                [%- "</a>" IF h.href -%]
            [%- END %]
        [% ELSIF item.content %]
            [% "<a href=\"${item.href}\">" IF item.href -%]
                [%- item.content | html -%]
            [%- "</a>" IF item.href %]
        [% ELSE %]
            [% 'missing ' _ item.alt | html %]
        [% END %]
    </li>
    [% END %]
</ul>
