[% 
    candidate_top_details = [
        {
            src     => '/static/icons/rosette-grey.png',
            alt     => 'party',
            href    => c.uri_for('/parties', candidate.party.code ),
            content => candidate.party.name,
        },
    ];

    FOREACH seat IN candidate.seats;
        candidate_top_details.push(
            {
                src     => '/static/icons/group.png',
                alt     => 'seat',
                href    => c.uri_for( '/seats', seat.code ),
                content => seat.name,
            }
        );
    END;

    candidate_top_details.push(
        {
            class   => 'discreet',
            src     => '/static/icons/comment.png',
            alt     => 'suggest change',
            href    => 
                c.uri_for(
                    '/suggestions/add',
                    { type => 'correction', referer => c.req.uri }
                ),
            content => 'suggest change to name, party or seats',
        }
    );
    
    IF c.user_is_admin;
        candidate_top_details.push(
            {
                class    => 'discreet',
                src      => '/static/icons/cog.png',
                alt      => 'admin',
                contents => [
                    {
                        href => c.uri_for( '/admin/candidate', result.id, 'stand_down' ),
                        content => 'stand down',
                    },
                    { content => ' or ' },
                    {
                        href => c.uri_for( '/admin/candidate', result.id, 'delete' ),
                        content => 'delete',
                    }
                ]
            }
        );
    END;

    IF c.user;
        candidate_top_details.push(
            {
                class   => 'discreet',
                src     => '/static/icons/time.png',
                alt     => 'history',
                href    => c.uri_for( result.path, 'history' ),
                content => 'view change history',
            }
        );
    END;

    PROCESS 'stubs/item_details.html',details => candidate_top_details;
%]<br>
