[% query = '"' _ result.name _ '"' _ ' ' _ result.party.name | uri;

    WRAPPER
        'chrome/edit-frame.html',
        debug        => 0,
        title        => 'Edit candidate',
        instructions => "Please update the details for ${result.name}, using the search page below as help if needed",
        iframe_src   => 'http://www.google.co.uk/search?q=' _ query,
        return_url => {
            url => c.uri_for( result.path ),
            text => "Return to ${result.name} overview",
        }
%]
    [% form.render %]    
[% END %]
