    <img id="candidate_hero_photo" alt="candidate photo" src="[% c.uri_for_image( candidate.image_id, 'large' ) %]" />
    
    <h1>[% candidate.name | html %]</h1>

    [% 
        candidate_top_details = [
            {
                src     => '/static/icons/rosette-grey.png',
                alt     => 'party',
                href    => c.uri_for('/parties', candidate.party.code ),
                content => candidate.party.name,
            },
        ];
    
        FOREACH seat IN candidate.seats;
            candidate_top_details.push(
                {
                    src     => '/static/icons/group.png',
                    alt     => 'seat',
                    href    => c.uri_for( '/seats', seat.code ),
                    content => seat.name,
                }
            );
        END;

        candidate_top_details.push(
            {
                class   => 'discreet',
                src     => '/static/icons/comment.png',
                alt     => 'suggest change',
                href    => 
                    c.uri_for(
                        '/suggestions/add',
                        { type => 'correction', referer => c.req.uri }
                    ),
                content => 'suggest change to name, party or seats',
            }
        );
        
        IF c.user_is_admin;
            candidate_top_details.push(
                {
                    class   => 'discreet',
                    src     => '/static/icons/cog.png',
                    alt     => 'admin',
                    href    => 
                        c.uri_for(
                            '/admin/candidate', result.id, 'stand_down'
                        ),
                    content => 'stand down',
                }
            );
        END;

        PROCESS 'stubs/item_details.html',details => candidate_top_details;
    %]<br>

    <h2>Contact details</h2>

    [% PROCESS 'stubs/item_details.html', 
        details => [
            {
                src     => '/static/icons/email.png',
                alt     => 'email',
                href    => "mailto:${candidate.email}"
                content => candidate.email,
            },
            {
                src     => '/static/icons/telephone.png',
                alt     => 'telephone',
                content => candidate.phone,
            },
            {
                src     => '/static/icons/printer.png',
                alt     => 'fax',
                content => candidate.fax,
            },
            {
                src     => '/static/icons/house.png',
                alt     => 'address',
                content => candidate.address,
            },
            {
                class   => 'discreet',
                src     => '/static/icons/pencil.png',
                alt     => 'edit candidate details',
                contents   => [
                    { content => 'edit ' },
                    { content => 'contact details',
                      href    => c.uri_for(candidate.code, 'edit_details'),
                    },
                    { content => ' or ' },
                    {
                      href    => c.uri_for(candidate.code, 'edit_photo'),
                      content => 'photo',                    
                    },
                ],
            },
        ];
    %]
    <br />

        <h2>Experience and education</h2>

    [% 
        schooling_and_work_details = [
            {
                src     => '/static/icons/calendar_view_day.png',
                alt     => 'date (or year) of birth',
                content => candidate.age,
            },
        ];
        
        FOREACH position IN candidate.positions.split('\n+');
            schooling_and_work_details.push(
                {
                    src     => '/static/icons/table_multiple.png',
                    alt     => 'positions',
                    content => position,
                }
            );
        END;
            
        schooling_and_work_details.push(
            {
                src     => '/static/icons/building.png',
                alt     => 'university',
                content => candidate.university,
            },
            {
                src     => '/static/icons/brick.png',
                alt     => 'school',
                content => candidate.school,
            },
            {
                class   => 'discreet',
                src     => '/static/icons/pencil.png',
                alt     => 'edit candidate details',
                contents   => [
                    { content => 'edit ' },
                    {
                      href    => c.uri_for(candidate.code, 'edit_personal'),
                      content => 'schooling and work details',                    
                    },
                ],
            }
        );
                
        PROCESS 'stubs/item_details.html', details => schooling_and_work_details;
    %]
    <br />
    


<br>

[% PROCESS 'links/main_listing.html' %]
