
<style type="text/css" media="screen">
</style>

<div id="sidebar">

    <div class="sidebar_item">
        <h3>Rivals</h3>



        [% rivals = candidate.rivals %]

        <ul>
            [% FOREACH rival = rivals %]
            <li style="display: inline">
                <a href="[% rival.path %]" title="[% rival.name _ ' from ' _ rival.party.name | html %]">
                <img src="[% c.uri_for_image( rival.image_id, 'small' ) %]" />
            </a>
            </li>
            [% END %]
        </ul>

        <ul>
            [% FOREACH rival = rivals %]
            <li><a href="[% rival.path %]" title="[% rival.party.name | html %]">[% rival.name | html %]</a></li>
            [% END %]
        </ul>

    </div>    

    <script type="text/javascript"><!--
    google_ad_client = "pub-7132662714982338";
    /* 120x240, created 19/04/10 */
    google_ad_slot = "8814070883";
    google_ad_width = 120;
    google_ad_height = 240;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
            
</div>


    <img id="candidate_hero_photo" alt="candidate photo" src="[% c.uri_for_image( candidate.image_id, 'large' ) %]" />
    
    <h1>[% candidate.name | html %]</h1>

    [% PROCESS 'candidates/details_general.html' %]
    

    <h2>Contact details</h2>

    [% 
    
        contact_details = [
            {
                src     => '/static/icons/email.png',
                alt     => 'email',
                href    => "mailto:${candidate.email}"
                content => candidate.email,
            },
            {
                src     => '/static/icons/telephone.png',
                alt     => 'telephone',
                content => candidate.phone,
            }
        ];

        IF candidate.fax;
            contact_details.push(
                {
                    src     => '/static/icons/printer.png',
                    alt     => 'fax',
                    content => candidate.fax,
                }
            );
        END;
        
        contact_details.push(
            {
                src     => '/static/icons/house.png',
                alt     => 'address',
                content => candidate.address,
            },
            {
                class   => 'discreet',
                src     => '/static/icons/pencil.png',
                alt     => 'edit candidate details',
                contents   => [
                    { content => 'edit ' },
                    { content => 'contact details',
                      href    => c.uri_for(candidate.code, 'edit_details'),
                    },
                    { content => ' or ' },
                    {
                      href    => c.uri_for(candidate.code, 'edit_photo'),
                      content => 'photo',                    
                    },
                ],
            }
        );
       
        PROCESS 'stubs/item_details.html', details => contact_details;
    %]
    <br />

        <h2>Experience and education</h2>

    [% 
        schooling_and_work_details = [
            {
                src     => '/static/icons/calendar_view_day.png',
                alt     => 'date (or year) of birth',
                content => candidate.age,
            },
        ];
        
        IF candidate.birthplace;
            schooling_and_work_details.push(
                {
                    src     => '/static/icons/world.png',
                    alt     => 'birthplace',
                    content => candidate.birthplace,
                },
            );
        END;
        
        FOREACH position IN candidate.positions.split('\n+');
            schooling_and_work_details.push(
                {
                    src     => '/static/icons/table_multiple.png',
                    alt     => 'positions',
                    content => position,
                }
            );
        END;
            
        schooling_and_work_details.push(
            {
                src     => '/static/icons/building.png',
                alt     => 'university',
                content => candidate.university,
            },
            {
                src     => '/static/icons/brick.png',
                alt     => 'school',
                content => candidate.school,
            },
            {
                class   => 'discreet',
                src     => '/static/icons/pencil.png',
                alt     => 'edit candidate details',
                contents   => [
                    { content => 'edit ' },
                    {
                      href    => c.uri_for(candidate.code, 'edit_personal'),
                      content => 'schooling and work details',                    
                    },
                ],
            }
        );
                
        PROCESS 'stubs/item_details.html', details => schooling_and_work_details;
    %]
    <br />
    


<br>

[% PROCESS 'links/main_listing.html' %]
