[% candidate = result %]
[% PROCESS 'chrome/header.html', title => candidate.name %]


    [% IF candidate.image_id %]
        <img src="[% c.uri_for_image( candidate.image_id, 'large' ) %]" style="float: right; margin: 0 0 0.5em 0.5em; border: 1px solid #000"/>
    [% END %]

    <h1>[% candidate.name | html %]</h1>

<ul class="candidate_details">

[%
details = [
    {
        src     => '/static/icons/rosette-grey.png',
        alt     => 'party',
        href    => c.uri_for('/parties', candidate.party.code ),
        content => candidate.party.name,
    },
    {
        src     => '/static/icons/email.png',
        alt     => 'email',
        href    => "mailto:${candidate.email}"
        content => candidate.email,
    },
    {
        src     => '/static/icons/telephone.png',
        alt     => 'telephone',
        content => candidate.phone,
    },
    {
        src     => '/static/icons/printer.png',
        alt     => 'fax',
        content => candidate.fax,
    },
    {
        src     => '/static/icons/house.png',
        alt     => 'address',
        content => candidate.address,
    },
];
%]


    [% FOREACH item IN details %]
    <li [% 'class="discreet"' IF ! item.content %]>
        <img class="icon" src="[% item.src %]" alt="[% item.alt %]" title="[% item.alt %]" />
        [% IF item.content %]
            [% "<a href=\"${item.href}\">" IF item.href -%]
                [%- item.content | html -%]
            [%- "</a>" IF item.href %]
        [% ELSE %]
            missing
        [% END %]
    </li>
    [% END %]









    <li class="discreet">
        <img class="icon" src="/static/icons/pencil.png" alt="edit">
        <a href="[% c.uri_for(candidate.code, 'edit_details') %]">Add to or edit these details</a>
    </li>

</ul>
<br />
    

<h2>Constituencies:</h2>

    [% FOREACH seat IN candidate.seats %]
        [% '<ul class="candidate_details">' IF loop.first %]
        <li>
            <img class="icon" src="/static/icons/group.png" alt="constituency">
            <a href="[% c.uri_for( '/seats', seat.code )%]">[% seat.name %]</a>
        </li>
        [% "</ul>" IF loop.last %]
    [% END %]

[% PROCESS 'chrome/footer.html' %]
