[% candidate = result %]
[% PROCESS 'chrome/header.html', title => candidate.name %]


<div id="sidebar">
    [% PROCESS 'candidates/candidate_sidebar.html', candidate => candidate %]
    [% PROCESS 'stubs/link_list.html', links => candidate.links %]
</div>

    [% IF candidate.image_id %]
        <img src="[% c.uri_for_image( candidate.image_id, 'medium' ) %]" style="float: right; margin: 0 0 0.5em 0.5em; border: 1px solid #000"/>
    [% END %]

    <h1>[% candidate.name | html %]</h1>

    <h2>[% candidate.party.name | html %]</h2>
    
    [% FOREACH seat IN candidate.seats %]
        [% "<ul>" IF loop.first %]
        <li><a href="[% c.uri_for( '/seats', seat.code )%]">[% seat.name %]</a></li>
        [% "</ul>" IF loop.last %]
    [% END %]

    <h2>Biography</h2>

    <p>[% candidate.bio | html_para %]</p>

    


[% PROCESS 'chrome/footer.html' %]
