[% INCLUDE 'chrome/header.html', title => 'login' %]
	
	<!-- Simple OpenID Selector -->
	<link rel="stylesheet" href="/static/css/openid.css" />
	<script type="text/javascript" src="/static/js/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="/static/js/openid-jquery.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
        openid.img_path = '/static/openid-images/';
	    openid.init('openid_identifier');
	});
	</script>
	<!-- /Simple OpenID Selector -->


[% IF reason %]
<div class="callout">[% reason %]</div>
[% END %]


[% IF auth_error %]
    <div>ERROR: [% auth_error %]</div>
[% END %]

<form action="/auth/login" method="post" id="openid_form">
	<fieldset>
    		<legend>Sign in using OpenID</legend>

    		<div id="openid_choice">
                <p>Click on a site that you already have an account with:</p>
	    		<div id="openid_btns"></div>
			</div>
			
			<div id="openid_input_area">
				<input id="openid_identifier" name="openid_identifier" type="text" value="http://" />
				<input id="openid_submit" type="submit" value="Sign-In"/>
			</div>

			<p class="discreet">
			    OpenID lets you log in using an account from another site
                without the hassle of yet another username and password to
                remember. It is fast, simple and secure - we can't access any
                information from your other account without your permission.
                
                <a href="http://openid.net/what/">More details</a>.
			</p>

	</fieldset>
</form>

[% INCLUDE 'chrome/footer.html' %]
