[% INCLUDE 'chrome/header.html', title => 'DemocracyClub users only' %]

<p><a href="http://www.democracyclub.org.uk/"><img src="http://www.democracyclub.org.uk/media/images/logo.png" alt="DemocracyClub"></a></p>

<p>Hello</p>

<p>
    The page you have tried to reach is only intended for DemocracyClub
    volunteers. To access it please
    <a href="http://www.democracyclub.org.uk/">login on DC</a>
    and then follow the links on that site to access this site.
</p>



[% INCLUDE 'chrome/footer.html' %]
