[% INCLUDE 'chrome/header.html', title => 'Users', no_links => 1 %]

<div class="callout">
    Concerning copyright ...
</div>

<p>
    We need you to agree that no contribution you make to this site is copyright
    restricted, or that you have permission to release the contribution into the
    public domain.
</p>

<p>
    This is so that we can share the data with other parties such as
    DemocracyClub and make it public after the election.
</p>

<form action="" method="post">

    <input type="hidden" name="xsrf_token" value="[% c.session.xsrf_token %]">

    <input type="radio" name="agreement" id="agree" value="agree" checked>
    <label for="agree">I agree!</label>
    <br>    

    <input type="radio" name="agreement" id="disagree" value="disagree">
    <label for="disagree">I do not agree - please log me out of this site!</label>
    <br>

    <input type="submit" value="Continue">
    <br>

    

</form>


[% INCLUDE 'chrome/footer.html', no_links => 1  %]
