[% INCLUDE 'chrome/header.html', title => 'Edit anything' %]

<style type="text/css" media="screen">
    th, td {
        text-align: left;
        vertical-align: top;
        padding: 0 0.2em;
    }
</style>

<h2>[% item.name || item.code || item.id %]</h2>

<ul class="item_details">
[% IF ( path = item.path ) %]
    <li><a href="[% c.uri_for( path )%]">[% c.uri_for( path )%]</a></li>
[% END %]

    <li><a href="[% c.req.uri _ '/edit' %]">edit</a></li>
    <li><a href="[% c.req.uri _ '/delete' %]">delete</a></li>
</ul>
<br>

<table class="lined">
    [% FOREACH key = item_columns %]
    <tr>
        <th>[% key %]:</th>
        <td>[% item.$key | html %]</td>
    </tr>
    [% END %]
</table>


[% FOREACH rel = relationships %]
    [% NEXT IF rel == 'edits' %]

    [% info = item.result_source.relationship_info(rel) %]

    <h2>[% rel %]</h2>

    <ul>
        [% FOREACH r = item.$rel %]
            <li><a href="[% c.uri_for( info.class.match('([^:]+)$').0, r.id ) %]">[% r.name || r.code || r.id %]</a></li>
        [% END %]
    </ul>

[% END %]


[% INCLUDE 'chrome/footer.html' %]
