[% INCLUDE 'chrome/header.html', title => 'Supporters' %]

<div class="boxed" style="float: right; width: 40%; margin: 0 0 1em 1em">
    <h1>Use our data!</h1>

    <p>Download all the candidate details as CSV (to use in Excel) or as JSON.</p>

    <p>It is fast, easy and free.</p>
    
    <p><a href="/supporters/add">Get started now...</a></p>

</div>

<h1>Supporters</h1>

<p>We love people who use our data. They are the reason we run this site.</p>

<p>All the data is free under a <a
href="http://creativecommons.org/licenses/by-sa/2.0/uk/">CreativeCommons
BY-SA</a> license. You can use the data commercially if you want and can build
on it. You just need to say it came form us (a small link will do) and if you pass
it on again apply the some license.</p>

[% FOREACH level IN ['platinum', 'gold', 'silver', 'bronze' ] %]
    [% PROCESS supporters %]
[% END %]

[% BLOCK supporters %]

    <h2>[% level | ucfirst %] supporters</h2>
    
    [% IF supporters.$level.size %]
    <ul>
        [% FOREACH supporter IN supporters.$level %]
            <li>
                <a href="[% c.uri_for( supporter.path ) %]">[% supporter.name | html %]</a>
            </li>
        [% END %]
    </ul>
    [% ELSE %]
    
        <p>None yet - be the first.</p>
    
    [% END %]


[% END %]


[% INCLUDE 'chrome/footer.html' %]
